/* Styles for the ".about-us" section */
.about-us {
    /* Make the element visible with a fade-in effect */
    opacity: 1;
    transform: translateZ(0);
    transition-duration: 3s;
    transition-timing-function: ease;

    /* Adjust the maximum width and center-align the element */
    max-width: 90%;
    margin: auto;
    display: block;

    /* Apply custom font family and size */
    font-family: var(--elewa-group-website-dmsans-regular);
    font-weight: 100;
    font-size: 2rem;

    /* Add margin at the bottom for spacing */
    margin-bottom: 80px;
}

/* Styles for the h2 element inside the ".about-us" section */
.about-us h2 {
    /* Remove margin and padding to style the h2 element */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    /* Apply a bold font weight to the h2 element */
    font-weight: bold;
}

/* Styles for the ".paragraphs" container */
.paragraphs {
    /* Create a flex container to arrange child elements */
    display: flex;
    padding-top: 20px;

    /* Apply custom font family and size */
    font-family: var(--elewa-group-website-dmsans-regular);
    font-weight: 100;
    font-size: 2rem;

    /* Add margin at the bottom for spacing */
    margin-bottom: 80px;
}

.values-section img {
    max-height: 90px;
    width: auto;
    color: gray;
    margin-bottom: 20px;
}

.values-section h3 {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.values-section p{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
