/* footer body styling */
.footer{
    background-color: black;
    color: white;
    padding: 20px;
}

/* horizontal line styling bellow the header */
.footer hr {
    border-top: 1px solid;
    margin-top: 100px;
}
