/* footer body styling */
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    background-color: black;
    color: white;
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
    justify-content: space-between;
    justify-content: space-around;
    padding-top: 10%;
}

/* footer headers styling */
.footer h3{
    margin-bottom: 10px;
}

/* individual menu styling */
.footer ul {
    list-style-type: none;
    margin-left: -40px;
}